*{
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p{
    margin: 0;
}

.button-container{
    width: 150px;
    margin: 0 auto;
}

button{
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.new-button{
    background-color: rgb(96, 128, 96);
    width: 150px;
}

.new-button:hover{
    background-color: rgb(140, 175, 140);
}

.delete-button{
    background-color: rgb(179, 66, 46);
}

.delete-button:hover{
    background-color: rgb(182, 123, 113);
}

.library{
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 2rem;
    padding: 1rem;
}

.book{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    padding: 1.5rem;
    border-radius: 5px;
    background-color: rgb(216, 216, 216);
}

.modal{
    display: none;
}